body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* HEADER */

.header {
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  max-width: 1440px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
.nav-cont {
  display: flex;
  gap: 40px;
  align-items: center;
}
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  margin-right: 76px;
}
.logo span {
  color: #2e2f42;
}
.nav-list {
  position: relative;

  display: none;
  align-items: flex-start;
  gap: 40px;
  padding: 0 15px;
  height: 100%;
}
.list-link {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-link.current {
  color: #404bbf;
}
.list-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
  text-decoration: underline;
}
.list-link:hover {
  color: #404bbf;
}
.list-link:focus {
  color: #404bbf;
  text-decoration: underline;
}
.contacts {
  display: none;
  font-style: normal;
  justify-content: flex-end;
}
.contacts-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
.contacts-link {
  text-decoration: none;
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover {
  color: #404bbf;
}
.menu-button {
  border: none;
  display: flex;
  align-items: center;
}
.menu-icon {
  box-sizing: content-box;
  padding: 20px 0;
  flex-shrink: 0;
}

/* MAIN */

/* SECTION 1 */

.dark-bg {
  width: 100%;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container.section-one-cont {
}
.sec-title {
  margin: 0.83em auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
}
.button {
  /* Box model */
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  /* Visual */
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Typography */
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/* SECTION 2 */

.section-two {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.list-two-item {
  max-width: 408px;
  width: 100%;
}
.svg-cont {
  /* Box model */
  display: none;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  margin-bottom: 8px;
  /* Visual */
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
}

.sec-two-list-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.sec-two-list-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* SECTION 3 */

.team-cont {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}
.workers-cont {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.workers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  padding-bottom: 32px;
}
.title-names {
  color: #2e2f42;
  line-height: 1.2;
  align-items: center;
  margin-bottom: 8px;
}
.position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  align-items: center;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.social-link:first-child {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.svg {
  fill: #f4f4fd;
}

/* SECTION 4 */

.section-four {
  padding: 96px 0;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 72px;
}
.list-portfolio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 72px;
  /* text-align: left; */
  /* margin: 0 auto;  */
}
.app-cont {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-cont:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.image-cont {
  flex-shrink: 0;
  align-self: center;
  position: relative;
  overflow: hidden;
}
.image-text {
  /* Box model */
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  margin: 0;
  /* Positioning */
  position: absolute;
  top: 0;
  /* Typography */
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  /* Visual */
  color: #f4f4fd;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-cont:hover .image-text {
  transform: translateY(0%);
}
.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-cont {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 72px;
}
.aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 264px;
  gap: 16px;
}
.footer-logo-cont {
  /* box model */
  display: inline-block;
  /* Typography */
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.footer-logo {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: start;
}
.footer-social-cont {
  justify-content: center;
}
.footer-social-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-svg {
  fill: #f4f4fd;
}
.subscribe-cont {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.form-text {
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form-label {
  display: flex;
}
.form-label-input {
  /* Box model */
  width: 264px;
  height: 40px;
  padding-left: 16px;
  /* Typography */
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  /* Visual */
  background-color: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.form-button {
  /* Box model */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  /* Typography */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  /* Visual */
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-button-svg {
  margin-left: 16px;
}

/* Modal window */

.modal-cont {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-cont.in-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modal-window {
  /* Positioning */
  position: absolute;
  left: 50%;
  top: 50%;
  /* Visual */
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /* Box model */
  max-width: 408px;
  width: calc(100% - 32px);
  padding: 72px 24px 24px 24px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  /* Positioning */
  position: absolute;
  top: 24px;
  right: 24px;
  /* Box model */
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  padding: 0;
  /* Visual */
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}
.modal-button-svg {
  fill: #000000;
}
.modal-button:focus,
.modal-button:hover .modal-button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  line-height: 1.5;
}
.form-cont,
.input-block-cont {
  margin-bottom: 8px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-cont {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-svg {
  fill: #4d5ae5;
}
.fourth-form-cont {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.fifth-form-cont {
  margin-bottom: 24px;
}
.fifth-form-cont > input:checked + .checkbox-label > .checkbox-label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label-span-svg {
}
.modal-link {
  display: inline-flex;
  padding: 3px;
  color: #404bbf;
}
.send-button-cont {
  display: flex;
  justify-content: center;
}
.modal-button-send {
  /* Box modal */
  display: inline-flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 165px;
  gap: 16px;
  height: 56px;
  padding: 8px 24px;
  /* Typography */
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  /* Visual */
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-cont.in-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Box modal */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 408px;
  width: 100%;
  height: 640px;
  padding: 72px 24px 40px 16px;

  background: #fcfcfc;
  transform: translate(-50%, -50%) scale(1);
}
.backdrop-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  padding: 0;

  border: none;
}
.backdrop-btn:focus,
.backdrop-btn:hover {
  background-color: #404bbf;
  border-radius: 50%;
}
.backdrop-btn:focus .backdrop-btn-icon,
.backdrop-btn:hover .backdrop-btn-icon {
  fill: #ffffff;
}

.backdrop-btn-icon {
}

.backdrop-nav {
  flex-grow: 3;
}
.backdrop-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.backdrop-nav-item {
}
.backdrop-nav-item-link {
  color: #2e2f42;
  text-decoration: none;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.backdrop-nav-item-link:focus,
.backdrop-nav-item-link:hover {
  color: #404bbf;
}
.backdrop-nav-item-link.current {
  color: #404bbf;
}
.backdrop-contacts {
  flex-grow: 1;
}
.backdrop-contacts-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.backdrop-contacts-item {
}
.backdrop-contacts-item-link {
  text-decoration: none;
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.backdrop-contacts-item-link:focus,
.backdrop-contacts-item-link:hover {
  color: #4d5ae5;
}
.menu {
  flex-grow: 0;
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
}
.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
}
.menu-item:focus,
.menu-item:hover {
  background-color: #404bbf;
}
.menu-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item-link-icon {
  fill: #f4f4fd;
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .dark-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob@2x.jpg);
  }
}
@media screen and (min-width: 320px) {
  /* Header */

  .nav-list {
    display: none;
  }
  .contacts {
    display: none;
  }
  .logo {
    padding: 24px 0;
  }

  /* Section 1 */
  .sec-title {
  }

  /* Section 2 */

  .section-two {
    padding: 96px 0;
  }
  .list-two-item {
  }
  .svg-cont {
    display: none;
  }
  .sec-two-list-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .sec-two-list-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  /* Section 3 */

  .team-cont {
    padding: 96px 0;
    flex-shrink: 0;
  }

  /* Section 4 */

  .section-four {
    padding: 96px 0;
  }
  .list-portfolio {
    gap: 32px;
    justify-content: center;
  }
  .app-cont {
  }
  .image-cont {
  }

  /* Fotter */

  .footer {
    display: flex;
  }
  .footer-cont {
    flex-direction: column;
    align-items: center;
  }
  .footer-logo-cont {
    display: flex;
    justify-content: center;
  }
  .footer-social-cont {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer-social-text {
  }
  .footer-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
  }
  .subscribe-cont {
  }
  .subscribe-form {
    align-items: center;
  }
  .form-button {
    gap: 16px;
  }
  .form-button-svg {
    margin: 0;
  }

  /* Modal window */

  .modal-window {
    padding: 72px 16px 24px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .dark-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  /* Header */
  .nav-list {
    display: inline-flex;
  }
  .contacts {
    display: flex;
  }
  .contacts-list {
    flex-direction: column;
  }
  .menu-button {
    display: none;
  }
  .contacts-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
  }
  /* Section 1 */
  .dark-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }
  .sec-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
  }

  /* Section 2 */
  .list-about {
    column-gap: 24px;
    row-gap: 72px;
  }
  .list-two-item {
    width: calc((100% - 24px) / 2);
  }
  .sec-two-list-title {
    text-align: left;
  }
  /* Section 3 */
  .section-three-cont {
    max-width: 768px;
  }
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  .workers-cont {
    width: calc((100% - 32px) / 2);
  }
  /* Section 4 */
  .container {
    max-width: 768px;
  }
  .list-portfolio {
    flex-direction: row;
    justify-content: center;
    gap: 72px 24px;
  }
  .app-cont {
    width: calc((100% - 24px) / 2);
  }
  /* Footer */
  .footer-cont {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 768px;
    padding-left: 108px;
    row-gap: 72px;
    column-gap: 24px;
  }
  .subscribe-form {
    flex-direction: row;
  }
}
/* Modal */
@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .dark-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desk@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  /* Header */
  .contacts-list {
    flex-direction: row;
    column-gap: 40px;
    padding: 0;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
  }
  .container {
    flex-wrap: nowrap;
    max-width: 1158px;
  }
  /* Section 1 */
  .dark-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desk.jpg);
  }
  /* Sectioon 2 */
  .section-two {
    padding: 120px 0;
  }
  .list-about {
    row-gap: 0;
    column-gap: 24px;
  }
  .list-two-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .svg-cont {
    display: flex;
  }
  .sec-two-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
  }
  /* Section 3 */
  .team-cont {
    padding: 120px 0;
  }
  .workers-cont {
    width: calc((100% - 3 * 24px) / 4);
  }
  /* Section 4 */
  .section-four {
    padding: 120px 0;
  }
  .portfolio {
    row-gap: 40px;
    column-gap: 24px;
  }
  .app-cont {
    width: calc((100% - 2 * 24px) / 3);
  }
  /* Footer */
  .footer-cont {
    padding: 0 15px;
    gap: 0;
    align-items: baseline;
  }
  .aside {
    margin-right: 120px;
  }
  .footer-logo-cont {
    justify-content: left;
  }
  .footer-social-text {
    text-align: left;
  }
  .subscribe-cont {
    margin-left: 80px;
  }
  .footer-text {
  }
}
